<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coin.mapper.ext.LikesExtMapper">

    <select id="findByType" resultType="com.coin.entity.Likes">
        select id
        from likes
        where user_id = #{userId}
        and likeable_type = #{type}
        and likeable_id = #{likeId}
        limit 1
    </select>

    <select id="countById" resultType="java.lang.Long">
        select count(id)
        from likes
        where
        likeable_type = #{type}
        and likeable_id = #{likeId}
    </select>
</mapper>
